/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d1117;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}

.page {
  --bg: #0d1117;
  --card: #161b22;
  --border: #30363d;
  --text: #e6edf3;
  --muted: #8b949e;

  color: var(--text);
}

.section {
  max-width: 1000px;
  margin: 70px auto;
  padding: 0 20px;
}

.section h2 {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
  font-size: 1.4rem;
}

.header {
  background: linear-gradient(135deg, var(--card), var(--bg));
  padding: 70px 20px;
}

.header-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--border);
}

.info {
  max-width: 650px;
}

.info h1 {
  margin-bottom: 15px;
  font-size: 1.9rem;
}

.bio p {
  font-size: 0.95rem;
  line-height: 1.7;
  color: var(--muted);
  margin-bottom: 12px;
}

.bio .highlight {
  color: var(--text);
  font-weight: 500;
}

.skills img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  border: 1px solid var(--border);
  border-radius: 10px;
  overflow: hidden;
  background: var(--card);
}

input {
  display: none;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.title:hover {
  background: #1f2630;
}

.period {
  font-size: 0.8rem;
  color: var(--muted);
  margin-top: 5px;
}

.title::after {
  content: "▼";
  position: absolute;
  right: 20px;
  top: 22px;
  transition: 0.3s;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

input:checked+.title+.content {
  max-height: 500px;
}

input:checked+.title::after {
  transform: rotate(180deg);
}

.exp-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid var(--border);
  align-items: flex-start;
}

.exp-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
  background: white;
  padding: 6px;
}

.exp-text {
  flex: 1;
}

.exp-text p {
  font-size: 0.93rem;
  color: var(--muted);
  line-height: 1.6;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .header-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .exp-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}